.backgroundRight {

  @media screen and (min-width: 320px) {
    justify-content: space-around;
  }
  @media screen and (min-width: 768px) {
    //width: 0;
  }

  @extend %displeyFlex;
  justify-content: center;
  align-items: center;
  width: 60%;
  @extend %bg;
  background-color: #000000;

}

.flexInfo {

  width: 70%;

  @extend %displeyFlex;

  @media screen and (min-width: 320px) {
    align-content: space-around;
    flex-direction: column;
    font-size: .8rem;
    .buttonContainer {
      height: 1rem;
    }

    .infoContainer {

      width: 100%;

      .queryText {
        b {
          text-transform: uppercase;
        }
        color: #ffffff;
      }
      .saleText {
        color: #dd8e00;
      }
    }

    .medalContainer {

      width: 20%;
      height: 72%;

      .medal {
        width: 100%;
        height: 100%;
      }
    }

    .buttonContainer {

      button {
        border-radius: 1rem;
        background-color: #ffa400;

        b {
          font-size: 0.6rem;
          color: black;
        }
      }

    }

  }
}


.medal{
  @extend %bg;
}

.tireContainer {
  @media screen and (min-width: 320px) {
    width: 0;
    height: 0;
  }
  @media screen and (min-width: 768px) {
    width: 0;
    height: 0;
  }

  width: 30%;
  height: 100%;

  .tire {
    @extend %bg;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

.empty {

  @media screen and (min-width: 320px) {
    width: 0;
  }
  @media screen and (min-width: 768px) {
    width: 0;
  }

  width: 67%;

}

.exitButton {

  width: 17px;
  height: 17px;

  margin-top: .9em;
  margin-right: .9em;
  @extend %displeyFlex;
  align-self: flex-start;

  button {
    @extend %displeyFlex;
    justify-content: center;
    align-self: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    background-color: #f19a1e;

    padding: 0 0 17px 0;
    font-size: 14px;
    color: black;
  }

}

