.backgroundRight {
  width: 60%;
  @extend %bg;
  background-color: #000000;
  font-size: 0;
  position: relative;
}


.infoContainer {
  @extend %displayInline;
vertical-align: middle;
  padding-top: 1rem;
  width: 65%;
  padding-left: .5rem;
  font-size: .65rem;

  .queryText {
    width: 100%;
    font-size: 1.2em;
    font-weight: 800;
    b {
      text-transform: uppercase;
    }
    color: #ffffff;
  }
  .saleText {
    width: 100%;
    font-size: .98em;
    color: #dd8e00;
  }

}

.buttonContainer {
  @extend %displayInline;
  vertical-align: middle;
  width: 56%;
  padding-top: 2em;
  padding-left: .5rem;
  font-size: .65rem;

  a {

    border-radius: 1em;
    background-color: #ffa51a;
    border: .1em solid #ed921f;
    line-height: 1.2;

    padding: .23em .9rem;
    font-size: 1em;
    order: 1;

    b {
      font-size: .95em;
      font-weight: 500;
      color: black;
    }

    &:hover {
      background-color: #ea931a;
      border: .1em solid #fca61f;
      box-shadow: .1em .1em .13rem .12em #ed921f inset;
      transition: background-color .2s linear;
      cursor: pointer;
    }

    &:active {
      box-shadow: .1em .1em .13rem .1em #3e3e3e inset;
      transition: background-color .2s ease;
      background-color: #f19a1e;
    }

  }

}

.medalContainer {
  position: relative;
  bottom: 7em;
  left: 15em;
  padding-left: .1rem;
  padding-right: .1rem;
  width: 23%;
  font-size: .5rem;

  .medal {
    @extend %bg;
    width: 100%;
    padding-top: 6em;
  }

}

.exitButton {
  position: absolute;
  top: 1.5em;
  right: 1.8em;

  @extend %displeyFlex;
  align-self: flex-start;
  justify-content: center;

  a {
    @extend %displeyFlex;
    justify-content: center;
    align-self: center;

    font-size: 1.5em;
    color: black;

    width: 1.1em;
    height: 1.1em;

    line-height: .75;

    border-radius: 50%;
    background-color: #3e3e3e;
    border: .1em solid #818181;

    &:active {
      background-color: #f19a1e;
      box-shadow: 0 0 .1rem .12em #cc811b inset;
      border: .1em solid #bf771b;
      transition: background-color .2s ease;
    }

    &:hover {
      background-color: #ea931a;
      box-shadow: .1em .1em .13rem .12em #fca61f inset;
      border: .1em solid #ed921f;
      cursor: pointer;
      transition: background-color .2s linear;
    }

  }

  font-size: .5rem;
  line-height: .8;
}



