@import 'backgroundBlack';
@import 'textQuery';
@import 'textLike';
@import 'medal';
@import 'buton';
@import 'backgroundTires';
@import 'buttonExit';

.backgroundRight {
  @extend %displeyFlex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  @extend %bg;
  background-color: #000000;
}

.infoText{
  width: 30%;
}

.queryText{
width: 100%;
  b{
    font-size: 18px;
  text-transform: uppercase;
}
  flex-flow: column nowrap;
  color: #ffffff;
}

.saleText{
  p{
    font-size: 14px;
  }
  flex-flow: column nowrap;
  color: #dd8e00;
}

.medal{
  @extend %bg;
  width: 10%;
  height: 67%;
}

.button{
  @extend %displeyFlex;

  button{
    border: none;
    border-radius: 14px ;
    width: 149px;
    height: 31px;
    background-color: #ffa400;
  }

  b{
    font-size: 13.5px;
    color: black;
  }

}

.tire{
  @extend %bg;
  background-size: cover;
  width: 31.9%;
  height: 100%;
}

.exitButton{
  @extend %displeyFlex;
  align-self: flex-start;

  button{
    @extend %displeyFlex;
    justify-content: center;
    align-self: center;

    padding: 0 0 2px 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: none;
    background-color: #f19a1e;

    font-size: 13px;
    color: black;
  }

  button::-moz-focus-inner {
    padding:0;
    border:0;
  }

}

