%container {
  min-width: 320px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

%displeyFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

%displayInline {
  display: inline-block;
  vertical-align: top;
}

%bg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  @extend %container;
}

.backgrounds {
  @extend %displeyFlex;
  min-height: 120px;
  border: 1px solid;
  width: 100%;
}







