* {
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

button{
border: none;
}

a {
  text-decoration: none;
  color:#000;
}

a:hover {
  text-decoration: none;
  color:#000;
}

:active, :hover, :focus {
  outline: none;
  box-shadow: none;
  outline-offset: 0;
  outline: 0;
}

%container {
  min-width: 320px;
  max-width: 1920px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

%displeyFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

%displayInline {
  display: inline-block;
  vertical-align: top;
}


%bg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin mQ($arg){
  @media screen and (max-width: $arg){
      @content;
  }
}



.banner {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

}

.backgrounds {
  @extend %displeyFlex;
  border: 1px solid;
  @extend %container;
}






