* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

:active, :hover, :focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-offset: 0;
  outline: 0; }

.backgrounds {
  min-width: 320px;
  max-width: 1920px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto; }

.backgrounds, .bakgrounLeft, .backgroundRight, .button, .exitButton, .exitButton button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.topLeft, .logo, .midleCar, .backgroundRight, .medalContainer .medal, .tireContainer .tire {
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.banner {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

.backgrounds {
  border: 1px solid; }

.bakgrounLeft {
  width: 40%; }

.topLeft {
  background-color: white;
  -webkit-background-size: auto auto;
       -o-background-size: auto;
          background-size: auto;
  width: 50%;
  height: 100%; }

.logo {
  position: relative;
  top: -30px;
  left: 30px;
  bottom: 0;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  width: 40%;
  height: 100%; }

.midleCar {
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 50%;
  height: 100%; }

.backgroundRight {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  background-color: #000000; }

.infoText {
  width: 47%;
  margin-left: 50px; }
  .infoText .queryText {
    width: 100%;
    color: #ffffff; }
    .infoText .queryText b {
      font-size: 1.1rem;
      text-transform: uppercase; }
  .infoText .saleText {
    width: 100%;
    color: #dd8e00; }
    .infoText .saleText p {
      font-size: 1rem; }

.medalContainer {
  width: 20%;
  height: 72%;
  margin-left: 44px;
  margin-right: 48px; }
  .medalContainer .medal {
    width: 100%;
    height: 100%; }

.button {
  width: 30%;
  margin-right: 20px; }
  .button button {
    border: none;
    -webkit-border-radius: 14px;
            border-radius: 14px;
    width: 149px;
    height: 31px;
    background-color: #ffa400; }
  .button b {
    font-size: 13.5px;
    color: black; }

.tireContainer {
  width: 30%;
  height: 100%; }
  .tireContainer .tire {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 100%; }

.empty {
  width: 67%; }

.exitButton {
  width: 3%;
  margin-top: 10px;
  margin-right: 10px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }
  .exitButton button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    padding: 0 0 2px 0;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    background-color: #f19a1e;
    font-size: 13px;
    color: black; }
  .exitButton button::-moz-focus-inner {
    padding: 0;
    border: 0; }
