* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

button {
  border: none; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

:active, :hover, :focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-offset: 0;
  outline: 0; }

.backgrounds {
  min-width: 320px;
  max-width: 1920px;
  min-height: 120px;
  margin-left: auto;
  margin-right: auto; }

.backgrounds, .bakgrounLeft, .logoContainer, .backgroundRight, .flexInfo, .exitButton, .exitButton button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.logoContainer .topLeft, .logoContainer .logo, .logoContainer .midleCar, .backgroundRight, .medal, .tireContainer .tire {
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.banner {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

.backgrounds {
  border: 1px solid; }

.bakgrounLeft {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%; }

.logoContainer {
  width: 100%;
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .logoContainer .topLeft {
    background-color: white;
    width: 40%; }
    @media screen and (max-width: 1815px) {
      .logoContainer .topLeft {
        width: 30%; } }
    @media screen and (max-width: 1715px) {
      .logoContainer .topLeft {
        width: 25%; } }
    @media screen and (max-width: 1615px) {
      .logoContainer .topLeft {
        width: 20%; } }
    @media screen and (max-width: 1281px) {
      .logoContainer .topLeft {
        width: 15%; } }
    @media screen and (max-width: 1025px) {
      .logoContainer .topLeft {
        width: 5%; } }
    @media screen and (max-width: 993px) {
      .logoContainer .topLeft {
        width: 0px; } }
    @media screen and (max-width: 769px) {
      .logoContainer .topLeft {
        width: 0px; } }
    @media screen and (max-width: 481px) {
      .logoContainer .topLeft {
        width: 0px; } }
    @media screen and (max-width: 320px) {
      .logoContainer .topLeft {
        width: 0px; } }
  .logoContainer .logo {
    background-image: url("../logo.png");
    width: 40%;
    position: absolute;
    padding-top: 57px;
    left: 300px; }
    @media screen and (max-width: 1715px) {
      .logoContainer .logo {
        width: 75%;
        left: 270px; } }
    @media screen and (max-width: 1615px) {
      .logoContainer .logo {
        width: 80%;
        left: 200px; } }
    @media screen and (max-width: 1281px) {
      .logoContainer .logo {
        width: 40%;
        left: 130px; } }
    @media screen and (max-width: 1025px) {
      .logoContainer .logo {
        width: 40%;
        left: 100px; } }
    @media screen and (max-width: 993px) {
      .logoContainer .logo {
        width: 40%;
        left: 90px; } }
    @media screen and (max-width: 769px) {
      .logoContainer .logo {
        width: 50%;
        left: 85px;
        padding-top: 43px; } }
    @media screen and (max-width: 481px) {
      .logoContainer .logo {
        width: 55%;
        left: 55px;
        padding-top: 30px; } }
    @media screen and (max-width: 320px) {
      .logoContainer .logo {
        width: 55%;
        left: 55px;
        padding-top: 30px; } }
  .logoContainer .midleCar {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-image: url("../car.png");
    width: 60%; }
    @media screen and (max-width: 1815px) {
      .logoContainer .midleCar {
        width: 70%; } }
    @media screen and (max-width: 1715px) {
      .logoContainer .midleCar {
        width: 75%; } }
    @media screen and (max-width: 1615px) {
      .logoContainer .midleCar {
        width: 80%; } }
    @media screen and (max-width: 1281px) {
      .logoContainer .midleCar {
        width: 85%; } }
    @media screen and (max-width: 1025px) {
      .logoContainer .midleCar {
        width: 95%; } }
    @media screen and (max-width: 993px) {
      .logoContainer .midleCar {
        width: 100%; } }
    @media screen and (max-width: 769px) {
      .logoContainer .midleCar {
        width: 100%; } }
    @media screen and (max-width: 481px) {
      .logoContainer .midleCar {
        width: 100%;
        background-image: url("../car2.png"); } }
    @media screen and (max-width: 320px) {
      .logoContainer .midleCar {
        width: 100%;
        background-image: url("../car2.png"); } }

/*
width: 40%;
@include mQ(1815px){
  width:30%;
}
@include mQ(1715px){
  width:25%;
}
@include mQ(1615px){
  width:20%;
}
@include mQ(1281px){
  width:15%;
}
@include mQ(1025px){
  width:5%;
}
@include mQ(993px){
  width:0px;
}
@include mQ(769px) {
  width: 0px;
}
@include mQ(481px){
  width:0px;
}
@include mQ(320px){
  width:0px;
}*/
.backgroundRight {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  background-color: #000000; }
  @media screen and (min-width: 320px) {
    .backgroundRight {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

.flexInfo {
  width: 70%; }
  @media screen and (min-width: 320px) {
    .flexInfo {
      -webkit-align-content: space-around;
          -ms-flex-line-pack: distribute;
              align-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      font-size: .8rem; }
      .flexInfo .buttonContainer {
        height: 1rem;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
           -moz-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
      .flexInfo .medalContainer {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
           -moz-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3; } }
  .flexInfo .infoContainer .queryText {
    width: 100%;
    color: #ffffff; }
    .flexInfo .infoContainer .queryText b {
      text-transform: uppercase; }
  .flexInfo .infoContainer .saleText {
    width: 80%;
    font-size: .65rem;
    color: #dd8e00; }
  .flexInfo .medalContainer .medal {
    width: 35px;
    height: 35px; }
  .flexInfo .buttonContainer {
    width: 64%; }
    .flexInfo .buttonContainer button {
      -webkit-border-radius: 1rem;
              border-radius: 1rem;
      background-color: #ffa400; }
      .flexInfo .buttonContainer button b {
        font-size: 0.6rem;
        color: black; }

.tireContainer {
  width: 30%;
  height: 100%; }
  @media screen and (min-width: 320px) {
    .tireContainer {
      width: 0;
      height: 0; } }
  @media screen and (min-width: 768px) {
    .tireContainer {
      width: 0;
      height: 0; } }
  .tireContainer .tire {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 100%;
    height: 100%; }

.empty {
  width: 67%; }
  @media screen and (min-width: 320px) {
    .empty {
      width: 0; } }
  @media screen and (min-width: 768px) {
    .empty {
      width: 0; } }

.exitButton {
  width: 17px;
  height: 17px;
  margin-top: .9em;
  margin-right: .9em;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }
  .exitButton button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #f19a1e;
    padding: 0 0 17px 0;
    font-size: 14px;
    color: black; }
