* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, ul, ol {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

:active, :hover, :focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline-offset: 0;
  outline: 0; }

.backgrounds {
  max-width: 320px;
  height: 120px;
  margin-left: auto;
  margin-right: auto; }

.backgrounds, .bakgrounLeft, .logoContainer, .exitButton, .exitButton a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.infoContainer, .buttonContainer {
  display: inline-block;
  vertical-align: top; }

.logoContainer .topLeft, .logoContainer .logo, .logoContainer .midleCar, .backgroundRight, .medalContainer .medal {
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.backgrounds {
  border: 1px solid; }

.bakgrounLeft {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%; }

.logoContainer {
  width: 100%;
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .logoContainer .topLeft {
    background-color: white;
    width: 0%; }
  .logoContainer .logo {
    position: absolute;
    z-index: 5;
    width: 55%;
    left: 30px;
    padding-top: 28px; }
  .logoContainer .midleCar {
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 0 75%;
    width: 100%; }
    .logoContainer .midleCar .gradient {
      position: relative;
      z-index: 2;
      height: 100%;
      -webkit-background-size: cover;
              background-size: cover;
      background-image: -webkit-radial-gradient(0px, circle farthest-side, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0));
      background-image: -o-radial-gradient(0px, circle farthest-side, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0));
      background-image: radial-gradient(circle farthest-side at 0px, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0));
      width: 100%; }

.backgroundRight {
  width: 60%;
  background-color: #000000;
  font-size: 0;
  position: relative; }

.infoContainer {
  vertical-align: middle;
  padding-top: 1rem;
  width: 65%;
  padding-left: .5rem;
  font-size: .65rem; }
  .infoContainer .queryText {
    width: 100%;
    font-size: 1.2em;
    font-weight: 800;
    color: #ffffff; }
    .infoContainer .queryText b {
      text-transform: uppercase; }
  .infoContainer .saleText {
    width: 100%;
    font-size: .98em;
    color: #dd8e00; }

.buttonContainer {
  vertical-align: middle;
  width: 56%;
  padding-top: 2em;
  padding-left: .5rem;
  font-size: .65rem; }
  .buttonContainer a {
    -webkit-border-radius: 1em;
            border-radius: 1em;
    background-color: #ffa51a;
    border: .1em solid #ed921f;
    line-height: 1.2;
    padding: .23em .9rem;
    font-size: 1em;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    .buttonContainer a b {
      font-size: .95em;
      font-weight: 500;
      color: black; }
    .buttonContainer a:hover {
      background-color: #ea931a;
      border: .1em solid #fca61f;
      -webkit-box-shadow: .1em .1em .13rem .12em #ed921f inset;
              box-shadow: .1em .1em .13rem .12em #ed921f inset;
      -webkit-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear;
      cursor: pointer; }
    .buttonContainer a:active {
      -webkit-box-shadow: .1em .1em .13rem .1em #3e3e3e inset;
              box-shadow: .1em .1em .13rem .1em #3e3e3e inset;
      -webkit-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease;
      background-color: #f19a1e; }

.medalContainer {
  position: relative;
  bottom: 7em;
  left: 15em;
  padding-left: .1rem;
  padding-right: .1rem;
  width: 23%;
  font-size: .5rem; }
  .medalContainer .medal {
    width: 100%;
    padding-top: 6em; }

.exitButton {
  position: absolute;
  top: 1.5em;
  right: 1.8em;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .5rem;
  line-height: .8; }
  .exitButton a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1.5em;
    color: black;
    width: 1.1em;
    height: 1.1em;
    line-height: .75;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #3e3e3e;
    border: .1em solid #818181; }
    .exitButton a:active {
      background-color: #f19a1e;
      -webkit-box-shadow: 0 0 .1rem .12em #cc811b inset;
              box-shadow: 0 0 .1rem .12em #cc811b inset;
      border: .1em solid #bf771b;
      -webkit-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease; }
    .exitButton a:hover {
      background-color: #ea931a;
      -webkit-box-shadow: .1em .1em .13rem .12em #fca61f inset;
              box-shadow: .1em .1em .13rem .12em #fca61f inset;
      border: .1em solid #ed921f;
      cursor: pointer;
      -webkit-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear; }
