.bakgrounLeft {
  @extend %displeyFlex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}


.logoContainer{
  width: 100%;
  position: relative;

  @extend %displeyFlex;
  justify-content: flex-end;

  .topLeft{
    @extend %bg;
    background-color: white;
    width: auto;
  }

  .logo{
    @extend %bg;
    background-image: url("../logo.png");
    width: 20%;
    position: absolute;
    padding-top: 40px;
    left: 145px;
  }

  .midleCar{
    @extend %bg;
    background-size: cover;
    background-image: url("../car.png");
    width: 100%;
  }
}




