.bakgrounLeft {
  @extend %displeyFlex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}


.logoContainer{
  width: 100%;
  position: relative;

  @extend %displeyFlex;
  justify-content: flex-end;

  .topLeft{
    @extend %bg;
    background-color: white;


      width:0%;

  }

  .logo{
    @extend %bg;
    position: absolute;
    z-index: 5;

      width: 55%;
      left: 30px;
      padding-top: 28px;
  }

  .midleCar{
    @extend %bg;
    background-size: cover;
    background-position: 0 75%;

    .gradient {
      position: relative;
      z-index: 2;
      height: 100%;
      background-size: cover;
      background-image: radial-gradient(circle farthest-side at 0px, rgba(255, 255, 255, 0.90) 25%,rgba(255, 255, 255, 0));
        width: 100%;
    }


      width: 100%;
  }
}
